<h1>All users</h1>
<ol>
<% @users.each do |user |%>
    
        <li>
            <%= link_to user.name, user_path(user) %>

        </li>

    
    <% end %>
    </ol>
    <%= link_to "New user", new_user_path %>